@import "tailwindcss";

/* Replaced @theme with standard CSS vars for compatibility */

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --cor-principal: #EFEFEF; 
  --top-header-margin: 33px;

  --box-shadow-color: #090d1f80;
  --box-shadow: 0 0 11px 0 var(--box-shadow-color);

  --sidebar-bg: #151A2D;
  --sidebar-menu: #151A2D;
  --sidebar-bg-hover: #00c3b01a;
  --sidebar-item-default: #F2F2F2;
  --sidebar-item-hover-focus: #00C3B0;
  --sidebar-scrollbar-track: #00c3b01a;
  --sidebar-scrollbar-thumb: #00c3b0;

  --topbar-bg-color: #F2F2F2;
  --topbar-button-hover-bg: #c7c6c65e;

  --text-on-primary: #F2F2F2;

  --ocupacao-disponivel: #0D9488;
  --ocupacao-ocupado: #BE123CD9;
  --ocupacao-limpeza: #1E40AFF2;
  --ocupacao-vencido: #701A75;
  --ocupacao-manutencao: #1F2937;
  /* podem ou nao aparecer */
  --ocupacao-reservado: #3b82f6d9;
  --ocupacao-checkout: #8b5cf6d9;
  --ocupacao-checkin: #06b6d4d9;


}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  background-color: var(--cor-principal);
  font-family: var(--font-sans);

}