.activeIndicatorInline{
    flex-shrink: 0;
    margin-right: 4px;
    display: block;
    position: static;
    height: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {}

.activeIndicatorOverlay{
    position: absolute;
    /*
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
    */
    pointer-events: none;
    width: 12px;
    height: 50px;
    display: block;
    flex-shrink: 0;
}